@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #333;
    text-align: center;
}
li, button, div {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #333;
    color: #edf0f1;

}

.logo {
    cursor: pointer;
    font-size: 16px;
}

.nav_links, .nav_links2{
    list-style: none;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li {
    transition: all 0.3s ease 0s;
}

.nav_links:hover, .nav_links2:hover {
    color: #0088a9;
}

.nav_links2 {
    padding: 2px;
}

.cta {
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.add {
    color: #edf0f1;
    text-decoration: none;
    padding: 0px;
}

.add:hover {
    color: #0088a9;
}


@media screen and (max-width: 400px) {
    .logo, li, button, div{
        font-size: 6px;
    }
    h1 {
        font-size: 18px;
    }
    .cta {
        padding: 4px 8px;
    }
    .header {
        padding: 8px 5%;
    
    }
}

@media screen and (max-width: 770px){
    .logo, li, button, div{
        font-size: 10px;
    }
    h1 {
        font-size: 25px;
    }
    .header {
        padding: 8px 8%;
    
    }
}


.test {
    color: black;
}

p {
    color: black;
}