@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #333;
    text-align: center;
}
li, button, div {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #333;
    color: #edf0f1;

}
#statystyki{
    color:black;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}
#polaankiet{
    width:23vw;
    height:15vw;
    display:flex;
    flex-direction: column;
    color:black;
    align-items:center;

}
#wartosci{
    color:black;
    display:flex;
    justify-content: center;
}

.logo {
    cursor: pointer;
    font-size: 16px;
}

.home{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding-top:10vh;


}
.right-box{
    order:2;
    width:20vw;
    height:50%;
}

.left-box{
    order: 1;
    width:70vw;
    height:50%;
}
.footer{
    order:3;
    background-color: #F1F1F1EF;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}
img#Spis{
    height:90%;
    width:90%;
}
img#pytanie1{
    width:65%;
}
img#pytanie2{
    width:65%;
}
img#pytanie3{
    width:65%;
}

.nav_links, .nav_links2{
    list-style: none;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li {
    transition: all 0.3s ease 0s;
}

.nav_links:hover, .nav_links2:hover {
    color: #0088a9;
}

.nav_links2 {
    padding: 2px;
}

.cta {
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

.cta:hover, .cta2:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.cta2 {
    text-decoration: none;
    padding: 6px 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    margin: 8px;
}

.add {
    color: #edf0f1;
    text-decoration: none;
    padding: 0px;
}

.add:hover {
    color: #0088a9;
}


@media screen and (max-width: 480px) {
    .logo, li, button, div{
        font-size: 6px;
    }
    h1 {
        font-size: 18px;
    }
    .cta {
        padding: 4px 8px;
    }
    .header {
        padding: 8px 5%;

    }

    .poll-col25, .poll-col75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .info-kontakt, .info-informacja, .info-statystyczna{
        width: 100%;
    }
    .reg-input {
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width: 770px){
    .logo, li, button, div{
        font-size: 10px;
    }
    h1 {
        font-size: 25px;
    }
    .header {
        padding: 8px 8%;
    }
    .poll-col25, .poll-col75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (min-width: 750px) {
    .reg-input {
        width: 50%;
        margin: auto;
    }
}

.poll-container {
    border-radius: 5px;
    padding: 20px;
}

.poll-col25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}


.poll-col75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.poll-row:after {
    content: "";
    display: table;
    clear: both;
}


.test {
    color: black;
}

p {
    color: black;
}

b {
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 136, 169, 0.8);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > * {
    margin: 0 2vw;
}

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-FAQ {
    text-align: left;
    margin: 10px;
}

.faq {
    text-align: left;
    color: rgba(0, 136, 169, 0.8);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left:35px;
    margin-right: 35px;
    font-weight: bold;
}

.faq:hover {
    background-color: #edf0f1;
}

.info-panel, .info-spis {
    padding: 10px 18px;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
}

.info-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bolder;
}

.info-kontakt, .info-informacja, .info-statystyczna {
    float: left;
    width: 33.33%;
}

.info-row{
    margin: 60px;
}
.info-row:after {
    content: "";
    display: table;
    clear: both;
}
.info-h2 {
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bolder;
}